<footer>
 <p>Copyright ©2016 <a href="http://www.baidu.com/" target="_blank">BySammyDai</a> All Rights Reserved. </p>
 </footer>
 </div>
</body>
<script src="/javascripts/jquery-2.2.4.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap-table.js"></script>
<script src="/javascripts/highcharts.js"></script>
<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/smarthomejquery_device.js"></script>
<script src="/javascripts/smarthomejquery_highchart.js"></script>
</html>
